<!-- <h2>Products</h2> -->

<!-- <div *ngFor="let category of categories">
  <h3>
    <a href="product.html">
    <a [href]=product.link [title]="product.name + ' details'">
      {{ category.type }}
      </a>
    </a>
  </h3>


</div> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="items" *ngFor="let product of products">
  <div *ngIf="categoryy == product.category">
    <h3>
      <a href = {{product.link}}>
      {{ product.name }}
      </a>
    </h3>
  
  
    <img class="product" src={{product.image}} height="140">
    <h4><span class="s">Price: </span>{{ product.price }} ₸</h4>
    <h4><span class="s">Rating: </span>{{ product.rating }} <img src="http://cdn.onlinewebfonts.com/svg/img_397133.png" height="20"></h4>
    <div>
      <button class="like" (click)="product.like=product.like+1"><img src="https://webstockreview.net/images/hearts-vector-png-7.png" height="20"></button>
      <h4 class="text">{{ product.like }}</h4>
      <button class="trash" (click)="removeItem(product.id)" >
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
