*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}


body{
    width:100%;
    background-color: #ffffff;
}
 
.logo{
    height: 15px;
    width: 70px;
    margin-left: 130px;
    margin-top: 10px;
    display: inline-block;
}
.h2{
    display: inline-block;
    margin-top: 2px;
    margin-left: 20px;
    font-size: 10px;
}
.h3{
    display: inline-block;
    font-size: 10px;
    margin-left: 17px;
}
.h4{
    display: inline-block;
    font-size: 10px;
    margin-left: 17px;
}
.h5{
    display: inline-block;
    font-size: 10px;
    margin-left: 17px;
}
.h6{
    display: inline-block;
    font-size: 10px;
    margin-left: 400px;
}
.h7{
    display: inline-block;
    font-size: 10px;
    margin-left: 17px;
}
.h8{
    display: inline-block;
    font-size: 10px;
    margin-left: 17px;
}
.h9{
    display: inline-block;
    font-size: 10px;
    margin-left: 17px;
}

.right{
    width: 600px;
    height: 300px;
    margin-top: 20px;
    margin-left: 100px;
}

.left{
    width: 500px;
    height:300px;
    display: inline-block;
    margin-left: -5px;
}

h1{
    margin-top: -200px;
    margin-left: 200px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin-left: 200px;
    width:400px;
    font-size: 12px;
}

.chel6{
    border: none;
    color: #f9f9f9;
    background-color: black;
    margin-left: 200px;
    padding: 7px;
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
}

.chel1{
    border: none;
    background-color: rgb(178, 223, 238);
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
}
.m365{
    margin-top: 100px;
    margin-left: 100px;
    width: 264px;
    height: 150px;
}
.edge{
    margin-left: 10px;
    width: 264px;
    height: 150px;
}

.oned{
    margin-left: 10px;
    width: 264px;
    height: 150px;
}

.onen{
    margin-left: 10px;
    width: 264px;
    height: 150px;
}

.mic365{
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.micedge{
    margin-left: 170px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}
.micrdrive{
    margin-left: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.Onenote{
    margin-left: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.teams{
    margin-left: 100px;
    font-size: 12px;
    width: 220px;
    margin-top: 0px;
    display: inline-flex;
}

.micredge{
    display: inline-flex;
    margin-left:55px;
    font-size: 12px;
    width: 220px;
    margin-top: 10px;
}


.ondrive{
    display: inline-flex;
    margin-left: 53px;
    font-size: 12px;
    width: 220px;
    margin-top: 10px;
}


.onenote{
    display: inline-flex;
    margin-left: 57px;
    font-size: 12px;
    width: 220px;
    margin-top: 10px;
}

.podr{
    margin-top: -100px;
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(65, 65, 255);
}

.ska{
    margin-left: 195px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(65, 65, 255);
}


.podr2{
    margin-left: 215px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(65, 65, 255);
}

.uznat{
    margin-left: 202px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgb(65, 65, 255);
}